@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  //   background: #8000ff url("../assets/images/bg.jpg");
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(192, 72, 72, 0.8)),
    url("../assets/images/bg.jpg");
  background-size: cover;
  color: white;
  font-family: "Poppins";
  margin: 0;
}
